<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    	</sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <sectionGroup name="RaceSettings">
      		<section name="FileLocations" type="System.Configuration.DictionarySectionHandler"/>
    	</sectionGroup>
    </configSections>
	<!-- settings to dictionary http://stackoverflow.com/questions/17663305/reading-keyvalue-pairs-into-dictionary-from-app-config-configsection --> 
	<RaceSettings>
		<FileLocations>
			<add key="Standby" value="STBY"/>
			<add key="Operate" value="OPER"/>
			<add key="Remote" value="REMOTE"/>
			<add key="Local" value="LOCAL"/>
			<add key="Reset" value="*RST" />
		</FileLocations>
	</RaceSettings>
	<appSettings>
		<add key ="racenamelong" value = "Veterans Head"/>
		<add key ="racedate" value = "2015-03-28"/>
		<add key ="racecode" value = "vh15"/>
		<add key ="showcompetitor" value="0" /> <!-- seat number to be used as a crew name --> 
		<add key ="overallmastershandicapped" value="0" />
		<add key ="hasoverallgendercategory" value="1" />
		<add key ="hasoverallforeigncategory" value="0" />
		<add key ="LastYearMen" value="200" /> 
		<add key ="LastYearWomen" value="50" /> 
		<add key="dbpath" value="/Users/cah/Dropbox/Apps/head-race-admin/" />
	</appSettings>
	<common>
  		<logging>
    		<factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        		<arg key="configType" value="INLINE"/>
       		</factoryAdapter>
  	  	</logging>
  	</common>
  	<log4net>
	  	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
	      <layout type="log4net.Layout.PatternLayout">
	        <conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline" />
	      </layout>
	    </appender>
		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<file value="./log-file.txt" />
			<appendToFile value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger (%file:%line) %ndc - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="FileAppender" />
		</root>
	</log4net>
	<runtime>
	 <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	    <dependentAssembly>
	       <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture=""/>
	       <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2.1.2.0"/>
	    </dependentAssembly>
	 </assemblyBinding>
	</runtime>
</configuration>
